@charset "UTF-80";
:root{
    --cor01: #F29B30;
    --cor02: #F2AE30;
    --cor03: #EEB144;
    --cor04: #E6B95E;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../imagens/bg-concreto.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
nav{
    background-color: var(--cor03);
    position: relative;
    float:right;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-right: 6px;
    border-radius: 50px;
}
nav a{
    color: black;
    padding: 15px;
    
}
nav a:hover{
    background-color: var(--cor01);
    color: white;
    border-radius: 50%;
    transition: background-color .5s;
}
.principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: white;
}
.image{
    position: relative;
    float: right;
    display: block;
    background: url(../imagens/foto-flavia-menor.jpeg);
    background-position: cover;
    background-position: right center;
    background-repeat: no-repeat;
    width: 50%;
}
.text{
    display: block;
    position: relative;
    float: left;
    width: 50vw;
}