@charset "UTF-80";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
:root{
    --fontNome: 'Bungee Inline', sans-serif;
    --cor01: #F29B30;
    --cor02: #F2AE30;
    --cor03: #EEB144;
    --cor04: #E6B95E;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../imagens/bg-concreto.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
nav{
    background-color: var(--cor03);
    position: relative;
    float:right;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-right: 6px;
    border-radius: 50px;
}
.home{
    color: white;
    background-color: var(--cor01);
    border-radius: 50%;
}
nav a{
    color: black;
    padding: 15px;
    
}
nav a:hover{
    background-color: var(--cor01);
    color: white;
    border-radius: 50%;
    transition: background-color .5s;
}
.principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.788);
    display: flex;
    flex-direction: row;
}
.image{
    background: url(../imagens/foto-flavia-menor.jpeg) no-repeat;
    background-size: cover;
    background-position: right center;
    width: 50%;
    height: 100%;
}
.text{
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
}
.text .nome{
    font-family: var(--fontNome);
    color: var(--cor04);
}