@charset "UTF-80";
:root{
    --cor01: #F29B30;
    --cor02: #F2AE30;
    --cor03: #EEB144;
    --cor04: #E6B95E;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    background-color: var(--cor03);
    position: relative;
    float:right;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-right: 6px;
    border-radius: 50px;

    
}
nav a{
    color: black;
    padding: 15px;
    
}
body{
    background-image: url(../imagens/bg-concreto.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.principal{
    display: flex;
    max-width: 1080px;
    width: 75vw;
    margin: auto;
    height: 90vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.699);
}
div.description{
    background-color: white;
    width: 50%;
}
div.image{
    background-image: url(../imagens/foto-flavia-menor.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 50%;
}